/* Variables */

:root {
    --basic-extra-dark: #293449;
    --basic-dark: #32425C;
    --basic-neutral: #F9F5F0;
    --basic-white: #ffffff;
    --basic-black: #000000;

    --blue-background: #F1F5F7;

    --special: #EE3643;

    --site-navigation-active: #1D2739;
    --main-footer-address: #F3F7F9;
    --footer-yellow: #FFD180;

    --price-before: #A9A9A9;
    --button-green: #63A63E;
    --feature-materials: #FFBF47;
    --feature-tools: #3BBCE3;
    --feature-technique: #DC91D8;
    --feature-discounts: #8ED78F;
    --feature-delivery: #FFC047;

    --button-green-hover:#5FBB2D;
    --button-green-click: #518534;
    --button-social: #212A3A;
    --buy-button-hoover-card: #4F8431;

    --header-interactive: rgba(255, 255, 255, 0.5);
    --credentials-link-click: #C5C5C5;
    --open-catalog-hover: #CA2C37;
    --red-button-click: #BA2732;
    --links-header-interactive: #161D29;

    --borders: #E5E5E5;
    --border-items: #EAEAEA;
    --filter-sort: #F7F3EC;
    --scale-background: #d7dcde;
    --scale-active: #00ca74;
    --toggle: #ababab;

    --feedback-form-background: #F4F4F4;
    --box-shadow: rgba(10, 7, 7, 0.15);
    --modal-shadow: rgba(0, 0, 0, 0.15);

    --feature-description:rgba(255, 255, 255, 30%);
    --feature-description-hover: rgba(197,197,197, 30%);
    --feature-description-active: rgba(169,169,169, 30%);

    --modal-in-basket-wrapper: #F1F1F1;
  }

  /* Global */

  .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page {
    height: 100%;
  }

  .main-header {
    padding-bottom: 60px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    background-color: var(--blue-background);

  }

  .top-header {
    background-color: var(--basic-extra-dark);
  }

  .top-header-container {
    width: 940px;
    margin: 0 auto;
    /* padding: 0 10px; */
    display: flex;
    justify-content: space-between;
  }

  .main-header-logo svg {
    display: block;
    margin-bottom: -5px;
    margin-right: -6px;
  }

  .main-header-logo svg:active rect {
    fill: var(--red-button-click);
  }

  .form-search {
    position: relative;
  }

  .form-search::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  /* .form-search::after:hover {

  } */

  /* .form-search::after:focus {

  } */

  .search-box {
    width: 230px;
    height: 41px;
    margin: 0;
    padding-left: 42px;
    /* margin-right: 20px; */
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    border: none;
  }

  .search-box::placeholder {
    color: inherit;
    background-color: inherit;
  }

  .search-box:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
  }

   .top-header a:active {
    color: var(--header-interactive);
    background-color: var(--links-header-interactive);
  }

  .user-interaction-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 26px;
  }

  .bookmarks-link {
    margin-right: 50px;
    padding: 9px 9px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    position: relative;
    display: flex;
    align-items: center;
  }

  .bookmarks-link::before {
    margin-right: 8px;
    content: "";
    display: block;
    top: 18px;
    left: -13px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .basket-link {
    padding: 9px 9px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    position: relative;
    display: flex;
    align-items: center;
  }

  .basket-link::before {
    margin-right: 8px;
    content: "";
    display: block;
    top: 18px;
    left: -13px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .bookmarks-link:hover:before, .basket-link:hover:before {
    opacity: 1;
  }

  .bookmarks-link:active, .basket-link:active {
    background-color: var(--links-header-interactive);
  }

  .bookmarks-link:active:before, .basket-link:active:before {
    opacity: 0.3;
  }

  .button-order {
    padding: 9px 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
    background-color: var(--button-green);
    border: none;
  }

  .button-order:hover, .buy-button:hover {
    background-color: var(--button-green-hover);
    outline: none;
  }

  .button-order:active {
    color: var(--header-interactive);
    background-color: var(--button-green-hover);
  }

  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .header-middle-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 40px;
  }

  .header-description {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-right: 93px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: var(--special);
  }

  .header-contacts {
    padding-right: 69px;
  }

  .header-contacts-catalog {
    padding-right: 51px;
  }

  .header-phone {
    padding: 7px 45px 8px 74px;
    border: 3px solid var(--basic-white);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--special);
    position: relative;
    display: flex;
    align-items: center;
  }

  .header-phone::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
  }

  .header-address {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-dark);
    text-align: center;
  }

  .user-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .user-navigation-login {
    margin-right: 10px;
    padding: 12px 27px 12px 45px;
    background-color: var(--basic-white);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
  }

  .user-navigation-login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 19px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
  }

  .user-navigation-login:hover:before {
    opacity: 1;
  }

  .user-navigation-login:active:before {
    opacity: 0.5;
  }

  .user-navigation-registration {
    padding: 12px 24px;
    background-color: var(--basic-white);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
  }

  .user-navigation-login:hover, .user-navigation-registration:hover {
    color: var(--special);
  }

  .user-navigation-login:active, .user-navigation-registration:active {
    color: var(--credentials-link-click);
  }

  .user-navigation-autorised {
    padding: 12px 56px;
    background-color: var(--basic-white);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
    text-align: center;
    position: relative;
    /* display: flex;
    align-items: center; */
  }

  .user-navigation-autorised::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
  }

  .user-navigation-autorised::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
  }

  .user-navigation-autorised:hover::before, .user-navigation-autorised:hover::after {
    opacity: 1;
  }

  .user-navigation-autorised:active {
    color: var(--credentials-link-click);
  }

  .personal-settings {
    margin-top: -20px;
    margin-left: 680px;
    display: flex;
    justify-content: space-between;
  }

  .personal-settings a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-dark);
  }

  .personal-settings a:hover {
    color: var(--special);
  }

  .personal-settings a:active {
    color: var(--credentials-link-click);
  }

  .personal-settings a:first-child {
    margin-right: 40px;
    position: relative;
  }

  .personal-settings a:first-child::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 92px;
    width: 6px;
    height: 7px;
    background-image: url("../img/dot-personal-settings.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }

    /* Main navigation */

  .site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    /* padding: 16px 53px 20px 53px; */
    background-color: var(--basic-dark);
    text-align: center;
  }

  .site-navigation li {
    flex-grow: 1;
  }

  .site-navigation a {
    display: block;
    padding: 20px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-white);
  }

  .site-navigation a:hover {
    background-color: var(--basic-extra-dark);
  }

  .site-navigation a:active {
    background-color: var(--site-navigation-active);
    opacity: 0.5;
  }

  /* main-part */

  .main-part {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: var(--basic-white);
  }

  .features {
    padding-bottom: 60px;
    /* или здесь лучше margin? */
  }

  .features .container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    /* margin: 0;
    padding: 0;
    list-style: none; */
  }

  .feature-item {
    position: relative;
    padding: 20px 103px 73px 23px;
  }

  .feature-item h3 {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-white);
    /* text-align: justify; */
  }

  .first {
    background-color: var(--feature-materials);
    position: relative;
  }

  .first .feature-description::after {
    content: "";
    position: absolute;
    bottom: 27px;
    right: 53px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .second {
    background-color: var(--feature-tools);
    position: relative;
  }

  .second .feature-description::after {
    content: "";
    position: absolute;
    bottom: 28px;
    right: 38px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .third {
    background-color: var(--feature-technique);
    position: relative;
  }

  .third .feature-description::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .fourth {
    /* background-image: url("../img/perforators.png");
    background-position: top center;;
    background-repeat: no-repeat; */
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .fourth-description {
    margin-top: 5px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
  }

  .fourth-1 {
    background-image: url("../img/perforators.png");
    background-position: top center;;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .fourth-2 {
    background-image: url("../img/drills.png");
    background-position: top center;;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slide {
    display: none;
  }

  .slide-current {
    display: block;
  }

  .slide-title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    color: var(--basic-white);
  }

  .slide-control-left {
    position: absolute;
    top: 122px;
    left: 25px;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .slide-control-right {
    position: absolute;
    top: 122px;
    right: 20px;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .open-catalog {
    position: absolute;
    bottom: 27px;
    left: 24px;
    padding: 11px 46px 9px 46px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  .open-catalog:hover {
    background-color: var(--open-catalog-hover);
  }

  .open-catalog:active {
    background-color: var(--red-button-click);
  }

  .fifth {
    background-color: var(--feature-discounts);
    position: relative;
  }

  .fifth .feature-description::after {
    content: "";
    position: absolute;
    bottom: 25px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .sixth {
    background-color: var(--feature-delivery);
    position: relative;
  }

  .sixth .feature-description::after {
    content: "";
    position: absolute;
    bottom: 28px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .feature-description {
    padding: 10px 24px;
    /* bottom: 22px;
    left: 22px; */
    margin-top: 14px;
    /* min-width: 5px; */
    /* по макету 135, но некрасиво */
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-white);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--feature-description);
    /* как быть с паддингами по горизонтали? там они везде разные, может здесь лучше задать ширину и auto паддинги? */
    /* display: inline-block; */
  }

  .popular-items, .popular-producers {
    padding-bottom: 70px;
    background-color: var(--basic-white);
  }

  .feature-description:hover {
    background-color: var(--feature-description-hover);
  }

  .feature-description:active {
    background-color: var(--feature-description-active);
  }

  .popular-items-header, .popular-producers-header {
    margin-bottom: 20px;
    background-color: var(--basic-neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 28px;
    position: relative;
  }

  .popular-items h2, .popular-producers h2 {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .all-popular-items, .all-producers {
    padding: 11px 38px 9px 38px;
    position: absolute;
    top: 24px;
    right: 19px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  .popular-items-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
  }

  .popular-producers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
  }

  .popular-producer {
    border: 1px solid var(--border-items);
    margin: 0;
    padding: 0;
  }

  .popular-producer div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 145px;
  }

  .popular-producer:hover {
    box-shadow: 0px 4px 20px var(--box-shadow);
  }

  .popular-producer:active {
    opacity: 0.3;
  }

  .services, .about-products {
    background-color: var(--blue-background);
  }

  .services h2, .about-company h2, .contacts h2, .about-products h2 {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 25px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .services-bottom {
    padding-bottom: 99px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .services-wrapper {
    display: grid;
    grid-column: 240px;
  }

  .services-wrapper button {
    padding: 13.5px 139px 17.5px 22px;
    background-color: var(--basic-dark);
    border: none;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
  }

  .services-wrapper button:hover {
    background-color: var(--basic-extra-dark);
  }

  .services-wrapper button:active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
    outline: none;
    border: 0;
  }

  .services-delivery {
    padding-left: 80px;
    position: relative;
  }

  .services-delivery h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .services-delivery::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 300px;
    width: 468px;
    height: 261px;
    background-image: url("../img/truck.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .services-description, .contacts-description, .about-products-description {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
  }

  .services-item a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-dark);
  }

  .services-item a:hover {
    background-color: var(--basic-extra-dark);
  }

  .services-item a:active {
    background-color: var(--basic-white);
  }

  .delivery-description  {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
  }

  .company {
    display: grid;
    grid-template-columns: 460px 300px;
    gap: 180px;
    background-color: var(--basic-white);
  }

  .about-company-description {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
  }

  .partners-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 31px;
  }

  .partners-list-item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
  }

  .services-dash {
    margin-right: 12px;
    color: var(--special);
    font-weight: bold;
  }

  .more-about-company {
    padding: 11px 40px 9px 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  .contacts h2 {
    margin: 0;
    padding: 0;
    padding-top: 74px;
    padding-bottom: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .contacts-description {
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
  }

  .map {
    margin-bottom: 25px;
  }

  .button-feedback {
    padding: 9px 62px 11px 61px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  /* footer */

  .main-footer {
    background-color: var(--basic-dark);
  }

  .top-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
  }

  .main-footer-address, .main-footer-phone {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--main-footer-address);
  }

  .top-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .top-footer-menu-item, .top-footer-item {
    padding-right: 58px;
  }

  .top-footer-menu-item:last-child, .top-footer-item:last-child {
    padding-right: 0;
  }

  .top-footer-menu-item a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--blue-background);
  }

  .top-footer-items {
    list-style: none;
    margin: 0;
    margin-left: 22px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .top-footer-item a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--footer-yellow);
  }

  .top-footer-menu-item a:hover,
  .top-footer-item:hover {
    text-decoration-line: underline;
  }

  .top-footer-menu-item a:active,
  .top-footer-item:active {
    text-decoration-line: none;
    opacity: 0.5;
  }

  .bottom-footer {
    background-color: var(--basic-extra-dark);
}

  .container-footer {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 29px;
  }

  .footer-copyright {
    margin: 0;
    margin-right: 161px;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-white);
  }

  .footer-social {
    margin: 0;
    margin-right: 118px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .social-button {
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--button-social);
    color: inherit;
  }

  .social-button:hover,
  .social-button:focus {
    background-color: var(--special);
  }

  .feedback {
    margin: 0;
    margin-right: 51px;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-white);
  }

  .authority {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-white);
  }

  .feedback a, .authority a {
    color: var(--footer-yellow);
  }

  .feedback a:hover, .authority a:hover {
    text-decoration-line: underline;
  }

  .feedback a:active, .authority a:active {
    color: var(--special);
    text-decoration-line: none;
  }

  /* catalog-page */

  .breadcrumbs, .breadcrumbs a {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .breadcrumbs li {
    position: relative;
    margin: 0;
    margin-right: 42px;
    padding: 21px 0 20px 0;
  }

  .breadcrumbs li::after {
    content: "";
    position: absolute;
    background-image: url(../img/icon-right-small.svg);
    top: 23px;
    right: -25px;
    width: 8px;
    height: 12px;
  }

  .breadcrumbs li:last-child {
    margin-right: 0;
  }

  .breadcrumbs-current::after {
    display: none;
  }

  .header-goods {
    margin: 0;
    margin-bottom: 20px;
    padding: 29px 0 30px 29px;
    background-color: var(--blue-background);
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 220px auto;
    gap: 20px;
  }

  .filters {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .filters-header {
    margin-top: 0;
    padding: 13px 0 13px 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--filter-sort);
  }

  .filter fieldset {
    padding: 0;
    padding-bottom: 37px;
    margin: 0;
    border: none;
  }

  .filter legend {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .filters-producers, .filters-accomodation {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    list-style: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: var(--basic-black);
  }

  .filter-option {
    padding-left: 35px;
    padding-bottom: 20px;
  }

  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  .filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }

  .range-filter {
    width: 220px;
    margin-top: 11px;
  }

  .filter-item legend {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
  }

  .range-controls {
    position: relative;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    height: 41px;
    background-color: var(--filter-sort);
    border-radius: 5px;
  }

  .range-controls .scale {
    height: 2px;
    background: var(--scale-background);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--scale-active);
  }

  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle);
    cursor: pointer;
  }

  .range-controls .toggle-min {
    left: 18px;
  }

  .range-controls .toggle-max {
    left: 160px;
  }

  .price-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .min-price, .max-price {
    width: 95px;
    height: 38px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--basic-neutral);
    border: none;
    border-radius: 2px;

    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    color: var(--basic-black);
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .min-price:focus, .max-price:focus {
    outline: none;
  }

  .dash {
    padding-top: 9px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -5px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    /* border: 3px solid var(--credentials-link-click);
    border-radius: 3px; */
  }

  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -5px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--credentials-link-click);
    border-radius: 50%;
  }

  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -29px;
    width: 13px;
    height: 13px;
    background-color: var(--credentials-link-click);
    border-radius: 50%;
  }

  .filter-button {
    padding: 10px 80px;
    text-transform: uppercase;
    border: 1px solid var(--borders);
    background-color: var(--basic-white);
  }

  .catalog {
    padding-bottom: 60px;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
  }

  .sort-wrapper {
    margin-bottom: 28px;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 20px;
    display: flex;
    font-family: "PT Sans", sans-serif;
    background-color: var(--filter-sort);
    text-transform: uppercase;
  }

  .sort-header {
    margin: 0;
    padding: 0;
    margin-right: 140px;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
  }

  .sort-type {
    list-style: none;
    padding: 0;
    /* padding-top: 13px; */
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .sort-type li {
    margin-right: 65px;
  }

  .sort-type li:nth-child(3) {
    margin-right: 46px;
  }

  .sort-type li:nth-child(4) {
    margin-right: 21px;
  }

  .sort-type li:last-child {
    margin-right: 14px;
  }

  .sort-type a:not(.up, .down) {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--price-before);
    border-bottom: 1px dotted var(--special);
  }

  .sort-type a:hover:not(.up, .down) {
    color: var(--basic-black);
    border-bottom: 1px solid var(--special);
  }

  .sort-type a:active:not(.up, .down) {
    color: var(--special);
    border: none;
  }

  .up:hover path, .down:hover path {
    fill: var(--basic-black);
  }

  .up:active path, .down:active path {
    fill: var(--special);
  }

  .catalog-list {
    padding: 0;
    margin: 0;
    padding-bottom: 48px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .catalog-item {
    padding-bottom: 21px;
    background-color: var(--basic-white);
    border: 1px solid var(--border-items);
    position: relative;
  }

  .catalog-item:hover {
    box-shadow: 0px 4px 20px var(--box-shadow);
  }

    /* это модалка ко хуверу */

   .buy-button {
     position: absolute;
     top: 38px;
     left: 41px;
     padding: 10px 40px 10px 53px;
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: normal;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     text-transform: uppercase;
     color: var(--basic-white);
     background-color: var(--button-green);
     border-bottom: 3px solid var(--buy-button-hoover-card);
     border-radius: 2px;
   }

   .buy-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 15px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

   .buy-button:active {
     background-color: var(--button-green-click);
     outline: none;
   }

   .bookmarks-button {
     position: absolute;
     top: 86px;
     left: 41px;
     padding: 11px 31px 9px 31px;
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: normal;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     text-transform: uppercase;
     color: var(--basic-dark);
     background-color: var(--basic-white);
     border: 3px solid var(--button-green);
     border-radius: 2px;
   }

   .bookmarks-button:hover, .bookmarks-button:active {
     border: 3px solid var(--basic-dark);
     border-radius: 2px;
     outline: none;
   }

   .item-current {
    display: none;
  }

  .catalog-item-image {
    /* Проверишь, плиз, эти отступы, что то мне не нравится их несоответствие макету */
    /* и еще, как быть с высотой? картинки разные, без нее все съезжает */
    margin: 0;
    padding: auto;
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .catalog-item h5 {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--basic-black);
    text-align: center;
  }

  .price-before {
    padding: 0;
    padding-bottom: 14px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: var(--price-before);
    text-decoration-line: line-through;
    text-transform: uppercase;
    text-align: center;
  }

  .price-after {
    margin-left: 45px;
    padding: 10px 10px;
    padding-right: 45px;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    background-image: url(../img/price-after.svg);
    background-repeat: no-repeat;
  }

  .catalog-item-new::after {
    content: "";
    position: absolute;
    background-image: url(../img/catalogue_new.svg);
    width: 100px;
    height: 70px;
    left: 146px;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination-item {
    margin-right: 10px;
  }

  .pagination-item:last-child {
    margin-right: 0;
  }

  .pagination-item a {
    display: block;
    padding: 10px 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-black);
    background: var(--basic-white);
    border: 1px solid var(--borders);
    text-transform: uppercase;
  }

  .pagination-item a:hover {
    border: 1px solid var(--credentials-link-click);
  }

  .pagination-item a:active {
    border: 1px solid var(--special);
  }

  .pagination .current-page a {
    color: var(--basic-white);
    background-color: var(--special);
    border: none;
  }


  /* modal */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    filter: drop-shadow(0px 4px 20px --modal-shadow);
  }

  .modal-show {
    display: block;
    animation: bounce 0.6s;
  }

  .modal-error {
    animation: shake 0.6s;
  }

  .modal-close {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .modal-close::before,
  .modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: var(--special);
  }

  .modal-close::before {
    transform: rotate(45deg);
  }

  .modal-close::after {
    transform: rotate(-45deg);
  }

  /* feedback */

  .modal-feedback {
    /* display: none; */
    top: 120px;
    bottom: auto;
    width: 620px;
    background-color:var(--basic-white);
    border-top: 5px solid var(--special);
  }

  .modal-feedback-wrapper {
    width: 460px;
    padding: 46px 80px 37px 80px;
  }

  .modal-feedback-wrapper input {
    padding: 0;
    margin: 0;
    border: 2px solid var(--credentials-link-click);
    border-radius: 2px;
  }

  .modal-feedback-wrapper input::placeholder {
    padding-left: 12px;
  }

  .name-email-wrapper {
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-user, .email-user {
    width: 220px;
    height: 38px;
  }

  .textbox-user {
    width: 455px;
    height: 114px;
  }

  .textbox-user::placeholder {
    padding-top: 6px;
    padding-left: 12px;
  }

  .button-wrapper {
    padding: 37px 80px;
    background-color: var(--feedback-form-background);
  }

  .button-send {
    padding: 11px 199px 9px 199px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
    border: none;
  }

  /* map */

  .modal-map {
    /* display: none; */
    height: 449px;
    width: 943px;
    border-top: 5px solid var(--special);
  }

  /* .modal-map img {
    display: block;
  } */

  .modal-map iframe {
    border: none;
  }

  .modal-in-basket {
    display: none;
    top: 120px;
    bottom: auto;
    width: 620px;
    height: 282px;
    background-color:var(--basic-white);
    border-top: 5px solid var(--special);
  }

  .good-added {
    padding: 73px 100px 67px 166px;
    position: relative;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .good-added::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .wrapper-bottom {
    padding: 37px 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--modal-in-basket-wrapper);
  }

  .to-order {
    margin-right: 10px;
    /* position: absolute;
    bottom: 27px;
    left: 24px; */
    padding: 11px 46px 9px 46px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  .shopping-continue {
    padding: 11px 31px 9px 31px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  /* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
