/* Variables */

:root {
    --basic-extra-dark: #293449;
    --basic-dark: #32425C;
    --basic-neutral: #F9F5F0;
    --basic-white: #ffffff;
    --basic-black: #000000;

    --blue-background: #F1F5F7;

    --special: #EE3643;

    --site-navigation-active: #1D2739;
    --main-footer-address: #F3F7F9;
    --footer-yellow: #FFD180;

    --price-before: #A9A9A9;
    --button-green: #63A63E;
    --feature-first: #FFBF47;
    --feature-second: #3BBCE3;
    --feature-third: #DC91D8;
    --feature-fifth: #8ED78F;
    --feature-sixth: #FFC047;

    --button-green-hover:#5FBB2D;
    --button-green-click: #518534;
    --button-social: #212A3A;

    --buy-button-hover-card: #4F8431;
    --to-bookmarks-button-click: rgba(50, 66, 92, 0.5);

    --header-interactive: rgba(255, 255, 255, 0.5);
    --credentials-link-click: #C5C5C5;
    --red-button-hover: #CA2C37;
    --red-button-click: #BA2732;
    --links-header-interactive: #161D29;

    --borders: #E5E5E5;
    --border-items: #EAEAEA;
    --filter-sort: #F7F3EC;
    --scale-background: #d7dcde;
    --scale-active: #00ca74;
    --toggle: #ababab;

    --feedback-form-background: #F4F4F4;
    --box-shadow: rgba(10, 7, 7, 0.15);
    --modal-shadow: rgba(0, 0, 0, 0.15);

    --feature-description:rgba(255, 255, 255, 30%);
    --feature-description-hover: rgba(197,197,197, 30%);
    --feature-description-active: rgba(169,169,169, 30%);

    --modal-in-basket-wrapper: #F1F1F1;

    --slider-top: rgba(0, 0, 0, 0.25);

    --checkboxes-hover: #B5B5B5;
    --checkboxes-disabled: rgba(181, 181, 181, 0.3);
    --input-disabled: rgba(0, 0, 0, 0.4);

    --services-inset-shadow: #405069;

    --main-font: "Cuprum", "Arial", sans-serif;
    --alternative-font: "PT Sans", "Arial", sans-serif;
  }

  /* Global */

  .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font: normal 13px/24px var(--main-font);
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page {
    height: 100%;
  }

  .main-header {
    padding-bottom: 59px;
    font: normal 18px/24px var(--main-font);
    color: var(--basic-white);
    background-color: var(--blue-background);

  }

  .top-header {
    background-color: var(--basic-extra-dark);
  }

  .top-header-container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .main-header-logo {
    background-image: url("../img/logo-header.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 220px;
    height: 47px;
    display: block;
    margin-bottom: -5px;
  }

  .main-header-logo:active {
    background-image: url("../img/logo-header-clicked.svg");
  }

  .form-search {
    position: relative;
  }

  .search-icon {
    position: absolute;
    padding: 0;
    border: 0;
    background-color: transparent;
    transform: translateY(-50%);
    top: 50%;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .search-box:hover ~ .search-icon {
    opacity: 1;
  }

  .search-box:focus ~ .search-icon {
    background-image: url("../img/icon-search-fill.svg");
    opacity: 1;
  }

  .search-box {
    width: 224px;
    height: 42px;
    margin: 0;
    padding-left: 42px;
    font: normal 18px/24px var(--main-font);
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    border: none;
  }

  .search-box::placeholder {
    font: normal 18px/24px var(--main-font);
  }

  .search-box:hover::placeholder {
    color: var(--basic-white);
  }

  .search-box:focus::placeholder {
    color: var(--basic-black);
  }

  .search-box:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
  }

   .top-header a:active {
    color: var(--header-interactive);
    background-color: var(--links-header-interactive);
  }

  .bookmarks-link {
    padding: 9px 24px 9px 23px;
    font: normal 18px/24px var(--main-font);
    color: var(--basic-white);
    position: relative;
    display: flex;
    align-items: center;
  }

  .bookmarks-link::before {
    margin-right: 8px;
    content: "";
    display: block;
    top: 18px;
    left: -13px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .basket-link {
    padding: 9px 26px;
    font: normal 18px/24px var(--main-font);
    color: var(--basic-white);
    position: relative;
    display: flex;
    align-items: center;
  }

  .basket-link::before {
    margin-right: 8px;
    content: "";
    display: block;
    top: 18px;
    left: -13px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .bookmarks-link:hover:before, .basket-link:hover:before {
    opacity: 1;
  }

  .bookmarks-link:active, .basket-link:active {
    background-color: var(--links-header-interactive);
  }

  .bookmarks-link:active:before, .basket-link:active:before {
    opacity: 0.3;
  }

  .added {
    background-color: var(--special);
  }

  .button-order {
    padding: 9px 18px;
    font: normal 18px/24px var(--main-font);
    color: var(--basic-white);
    background-color: var(--button-green);
    border: none;
  }

  .button-order:hover, .buy-button:hover {
    background-color: var(--button-green-hover);
    outline: none;
  }

  .button-order:active {
    color: var(--header-interactive);
    background-color: var(--button-green-hover);
  }

  .container {
    width: 940px;
    margin: 0 auto;
  }

  .header-middle-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 43px;
    padding-bottom: 38px;
  }

  .header-description {
    margin: 0;
    padding: 0 87px 0 30px;
    font: normal 16px/23px var(--main-font);
    font-style: italic;
    color: var(--special);
  }

  .header-contacts {
    padding-right: 69px;
  }

  .header-contacts-catalog {
    padding-right: 51px;
  }

  .header-phone {
    padding: 7px 45px 8px 74px;
    box-sizing: border-box;
    border: 3px solid var(--basic-white);
    font: bold 21px/30px var(--main-font);
    color: var(--special);
    position: relative;
    display: flex;
    align-items: center;
  }

  .header-phone::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
  }

  .header-address {
    margin: 0;
    padding: 0;
    font: normal 14px/24px var(--main-font);
    color: var(--basic-dark);
    text-align: center;
  }

  .user-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .for-autorised {
    margin-right: -20px;
  }

  .user-navigation-login {
    margin-right: 10px;
    padding: 12px 27px 12px 45px;
    background-color: var(--basic-white);
    font: normal 21px/21px var(--main-font);
    color: var(--basic-black);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
  }

  .user-navigation-login:hover, .user-navigation-registration:hover {
    color: var(--special);
  }

  .user-navigation-login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 19px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .user-navigation-login:hover::before {
    background-image: url("../img/icon-login-hover.svg");
  }

  .user-navigation-login:active:before {
    background-image: url("../img/icon-login.svg");
  }

  .user-navigation-registration {
    padding: 12px 24px;
    background-color: var(--basic-white);
    font: normal 21px/21px var(--main-font);
    color: var(--basic-black);
  }

  .user-navigation-login:active, .user-navigation-registration:active {
    color: var(--credentials-link-click);
  }

  .user-navigation-autorised {
    padding: 12px 56px;
    font: normal 21px/21px var(--main-font);
    background-color: var(--basic-white);
    color: var(--basic-black);
    text-align: center;
    position: relative;
  }

  .user-navigation-autorised::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .user-navigation-autorised:hover::before {
    background-image: url("../img/icon-user-hover.svg");
  }

  .user-navigation-autorised:active {
    color: var(--credentials-link-click);
  }

  .user-navigation-autorised:active::before {
    background-image: url("../img/icon-user.svg");
  }


  .logging-out {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    top: 15px;
    left: -35px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .logging-out:hover {
    background-image: url("../img/icon-logout-hover.svg");
  }

  .logging-out:active {
    background-image: url("../img/icon-logout.svg");
  }

  .personal-settings {
    margin-top: -20px;
    margin-left: 684px;
    display: flex;
    justify-content: space-between;
  }

  .personal-settings a {
    font: normal 16px/18px var(--main-font);
    color: var(--basic-dark);
  }

  .personal-settings a:hover {
    color: var(--special);
  }

  .personal-settings a:active {
    color: var(--credentials-link-click);
  }

  .personal-settings a:first-child {
    margin-right: 40px;
    position: relative;
  }

  .personal-settings a:first-child::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 92px;
    width: 6px;
    height: 7px;
    background-image: url("../img/dot-personal-settings.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }

    /* Main navigation */


  .site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 25px;
    background-color: var(--basic-dark);
    border-bottom: 5px solid var(--basic-extra-dark);

  }

  .site-navigation li {
    flex-grow: 1;
    text-align: center;
  }

  .site-navigation a {
    display: block;
    padding: 16px;
    font: 18px/24px var(--main-font);
    color: var(--basic-white);
  }

  .site-navigation a:hover {
    background-color: var(--basic-extra-dark);
  }

  .site-navigation a:active {
    background-color: var(--site-navigation-active);
    opacity: 0.5;
  }

  /* main-part */

  .main-part {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: var(--basic-white);
  }

  .features {
    padding-bottom: 59px;
  }

  .features .container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
  }

  .feature-item {
    position: relative;
    padding: 20px 103px 73px 23px;
  }

  .feature-item h3 {
    margin: 0;
    padding: 0;
    font: bold 24px/30px var(--main-font);
    color: var(--basic-white);
  }

  .feature-item::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .first {
    background-color: var(--feature-first);
    position: relative;
  }

  .first:after {
    width: 44px;
    height: 65px;
    background: url("../img/icon-1.svg") no-repeat center center;
    right: 42px;
  }

  .second {
    background-color: var(--feature-second);
  }

  .second:after {
    width: 75px;
    height: 61px;
    background: url("../img/icon-2.svg") no-repeat center center;
  }

  .third {
    background-color: var(--feature-third);
    position: relative;
  }

  .third:after {
    width: 78px;
    height: 62px;
    background: url("../img/icon-3.svg") no-repeat center center;
  }

  .slider {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    position: relative;
    width: 620px;
    overflow: hidden;
  }

  .slide-wrap {
    display: flex;
  }

  .slide {
    flex-shrink: 0;
    position: relative;
  }

  .slider-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--basic-white);
    background-color: var(--slider-top);
    padding: 23px 0 17px 24px;
  }

  .slider-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font: 700 36px/36px var(--main-font);
  }

  .slider-description {
    margin: 0;
    font: 18px/24px var(--main-font);
  }

  .slider-img {
    display: block;
  }

  .slider-button {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    border: 0;
  }

  .slider-button-left {
    left: 25px;
    background: url(../img/arrow-left.svg) no-repeat center center;
  }

  .slider-button-right {
    right: 20px;
    background: url(../img/arrow-right.svg) no-repeat center center;
  }

  .slider-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 36px;
    display: flex;
    justify-content: center;
  }

  .slider-pagination-dot {
    padding: 0;
    margin-right: 10px;
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    cursor: pointer;
  }

  .slider-pagination-dot:last-child {
    margin-right: 0;
  }

  .slider-pagination-dot.active {
    background-color: var(--special);
  }

  .red-button {
    font: 14px/18px var(--main-font);
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special);
  }

  .red-button:hover {
    background-color: var(--red-button-hover);
  }

  .red-button:active {
    background-color: var(--red-button-click);
  }

  .open-catalog {
    position: absolute;
    bottom: 27px;
    left: 24px;
    padding: 11px 46px 9px 46px;
    z-index: 2;
  }

  .fifth {
    background-color: var(--feature-fifth);
    position: relative;
  }

  .fifth:after {
    width: 59px;
    height: 72px;
    background: url("../img/icon-4.svg") no-repeat center center;
    right: 44px;
    top: 25px;
  }

  .sixth {
    background-color: var(--feature-sixth);
    position: relative;
  }

  .sixth:after {
    width: 78px;
    height: 63px;
    background: url("../img/icon-5.svg") no-repeat center center;
  }

  .feature-description {
    padding: 10px 12px;
    box-sizing: border-box;
    margin-top: 14px;
    width: 135px;
    display: block;
    font: 14px/18px var(--main-font);
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--feature-description);
  }

  .popular-items, .popular-producers {
    padding-bottom: 70px;
    background-color: var(--basic-white);
  }

  .feature-description:hover {
    background-color: var(--feature-description-hover);
  }

  .feature-description:active {
    background-color: var(--feature-description-active);
  }

  .popular-items-header, .popular-producers-header {
    margin-bottom: 20px;
    background-color: var(--basic-neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 28px;
    position: relative;
  }

  .popular-items h2, .popular-producers h2 {
    margin: 0;
    padding: 0;
    font: 30px/30px var(--main-font);
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .all-popular-items {
    padding: 10px 24px 10px 24px;
    position: absolute;
    top: 26px;
    right: 14px;
  }

  .popular-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
  }

  .all-producers {
    padding: 12px 38px 9px 38px;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .popular-producers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
  }

  .popular-producer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 145px;
    border: 1px solid var(--border-items);
  }

  .popular-producer:hover {
    box-shadow: 0px 4px 20px var(--box-shadow);
  }

  .popular-producer:active {
    opacity: 0.3;
  }

  .popular-producer img {
    display: block;
  }

  .services, .about-products {
    background-color: var(--blue-background);
  }

  .services h2, .about-company h2, .contacts h2, .about-products h2 {
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 25px;
    font: 30px/30px var(--main-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .services-bottom {
    padding-bottom: 99px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .services-wrapper {
    display: grid;
    grid-column: 1fr;
    position: relative;
  }

  .services-wrapper::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    width: 10px;
    height: 279px;
    background: url(../img/services-shadow.svg) no-repeat 0 0;
  }

  .services-button {
    padding: 15px 142px 18px 20px;
    background-color: var(--basic-dark);
    border: none;
    box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--services-inset-shadow);
    font: bold 21px/30px var(--main-font);
    color: var(--basic-white);
  }

  .services-button-active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
    box-shadow: none;
  }

  .services-button:hover:not(.services-button-active) {
    background-color: var(--basic-extra-dark);
  }

  .services-delivery {
    padding-left: 80px;
    position: relative;
  }

  .services-delivery h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;
    font: 30px/30px var(--main-font);
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .services-delivery::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 230px;
    width: 468px;
    height: 261px;
    background-image: url("../img/truck.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .services-description, .contacts-description, .about-products-description {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    font: 13px/24px var(--alternative-font);
    color: var(--basic-black);
  }

  .services-item a {
    font: bold 21px/30px var(--main-font);
    color: var(--basic-dark);
  }

  .services-item a:hover {
    background-color: var(--basic-extra-dark);
  }

  .services-item a:active {
    background-color: var(--basic-white);
  }

  .delivery-description  {
    margin: 0;
    padding: 0;
    font: 13px/24px var(--alternative-font);
    color: var(--basic-black);
  }

  .company {
    display: grid;
    grid-template-columns: 460px 300px;
    gap: 180px;
    background-color: var(--basic-white);
    padding-top: 67px;
  }

  .about-company h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    font: 30px/30px var(--main-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .about-company-description {
    margin: 0;
    padding: 0;
    font: 13px/24px var(--alternative-font);
    color: var(--basic-black);
  }

  .first-part {
    padding-bottom: 27px;
  }

  .second-part {
    padding-bottom: 4px;
  }

  .partners-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }

  .partners-list-item {
    padding-left: 36px;
    padding-bottom: 10px;
    font: 18px/24px var(--main-font);
    color: var(--basic-black);

    position: relative;
  }

  .partners-list-item::before {
    content: "";
    position: absolute;
    background-image: url(../img/dash.svg);
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
  }

  .more-about-company {
    display: inline-block;
    vertical-align: top;
    padding: 11px 40px 9px 40px;
  }

  .contacts h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font: 30px/30px var(--main-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .contacts-description {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    font: 13px/24px var(--alternative-font);
    color: var(--basic-black);
  }

  .map {
    margin-bottom: 16px;
  }

  .button-feedback {
    display: block;
    padding: 10px 40px;
  }

  /* footer */

  .main-footer {
    background-color: var(--basic-dark);
  }

  .top-footer {
    display: flex;
    padding-bottom: 53px;
  }

  .technomart {
    margin-right: 70px;
    width: 324px;
    flex-shrink: 0;
  }

  .main-footer-logo {
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 220px;
    height: 68px;
    display: block;
    margin-bottom: 23px;
  }

  .main-footer-address, .main-footer-phone {
    margin: 0;
    padding: 0;
    font: 18px/24px var(--main-font);
    color: var(--main-footer-address);
  }

  .top-footer-menu {
    list-style: none;
    padding: 0;
    margin: 38px 0 34px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .top-footer-menu-item, .top-footer-item {
    padding-right: 58px;
  }

  .top-footer-menu-item:last-child, .top-footer-item:last-child {
    padding-right: 0;
  }

  .top-footer-menu-item a {
    font: 18px/24px var(--main-font);
    color: var(--blue-background);
  }

  .top-footer-items {
    list-style: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .top-footer-item a {
    font: 18px/24px var(--main-font);
    color: var(--footer-yellow);
  }

  .top-footer-menu-item a:hover,
  .top-footer-item:hover {
    text-decoration-line: underline;
  }

  .top-footer-menu-item a:active,
  .top-footer-item:active {
    text-decoration-line: none;
    opacity: 0.5;
  }

  .bottom-footer {
    background-color: var(--basic-extra-dark);
}

  .container-footer {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .footer-copyright {
    margin: 0;
    margin-right: 163px;
    padding: 0;
    font: 16px/18px var(--main-font);
    color: var(--basic-white);
  }

  .footer-social {
    margin: 0;
    margin-right: 120px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .social-button {
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--button-social);
    color: inherit;
  }

  .social-button:hover,
  .social-button:focus {
    background-color: var(--special);
  }

  .feedback {
    margin: 0;
    margin-right: 51px;
    padding: 0;
    font: 16px/18px var(--main-font);
    color: var(--basic-white);
  }

  .authority {
    margin: 0;
    padding: 0;
    font: 16px/18px var(--main-font);
    color: var(--basic-white);
  }

  .feedback a, .authority a {
    color: var(--footer-yellow);
  }

  .feedback a:hover, .authority a:hover {
    text-decoration-line: underline;
  }

  .feedback a:active, .authority a:active {
    color: var(--special);
    text-decoration-line: none;
  }

  /* catalog-page */

  .breadcrumbs, .breadcrumbs a {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font: 13px/18px var(--alternative-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .breadcrumbs li {
    position: relative;
    margin: 0;
    margin-right: 42px;
    padding: 21px 0 20px 0;
  }

  .breadcrumbs li::after {
    content: "";
    position: absolute;
    background-image: url(../img/icon-right-small.svg);
    top: 23px;
    right: -25px;
    width: 8px;
    height: 12px;
  }

  .breadcrumbs li:last-child {
    margin-right: 0;
  }

  .breadcrumbs-current::after {
    display: none;
  }

  .header-goods {
    margin: 0;
    margin-bottom: 20px;
    padding: 29px 0 30px 29px;
    background-color: var(--blue-background);
    font: 30px/30px var(--main-font);
    text-transform: uppercase;
    color: var(--basic-dark);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 220px auto;
    gap: 20px;
  }

  .filters {
    padding: 0;
    margin: 0;
    font: 13px/18px var(--alternative-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .filters-header {
    margin-top: 0;
    margin-bottom: 13px;
    padding: 10px 0 10px 20px;
    font: 13px/18px var(--alternative-font);
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--filter-sort);
  }

  .filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 17px;
    border: none;
    border-bottom: 1px solid var(--borders);
  }

  .filter legend {
    margin: 0;
    padding: 0;
    font: bold 17px/30px var(--alternative-font);
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .filters-producers, .filters-accomodation {
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
    margin-top: 20px;
    margin-left: 0;
    list-style: none;
    font: 15px/19px var(--alternative-font);
    color: var(--basic-black);
  }

  .filter-option {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .filter-option label {
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 5px;
  }

  .filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }

  .range-filter {
    width: 220px;
    margin-top: 10px;
  }

  .range-controls {
    position: relative;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    height: 41px;
    background-color: var(--filter-sort);
    border-radius: 5px;
  }

  .range-controls .scale {
    height: 2px;
    background: var(--scale-background);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--scale-active);
  }

  .range-controls .toggle {
    position: absolute;
    top: 28px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle);
    cursor: pointer;
  }

  .range-controls .toggle-min {
    left: 18px;
  }

  .range-controls .toggle-max {
    left: 160px;
  }

  .price-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .price-control {
    width: 95px;
    height: 38px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--basic-neutral);
    border: none;
    border-radius: 2px;
    font: 17px/18px var(--alternative-font);
    color: var(--basic-black);
    text-align: center;
    text-transform: uppercase;
  }

  .price-control {
    outline: none;
  }

  .dash {
    padding-top: 9px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-checkbox + label:hover::before {
    background-image: url("../img/checkbox-off-hover.svg");
  }

  .filter-input-checkbox:disabled + label::before {
    background-image: url("../img/checkbox-off-hover.svg");
    opacity: 0.3;
    pointer-events: none;
  }

  .filter-input-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
  }

  .filter-input-checkbox:checked + label:hover::before {
    background-image: url("../img/checkbox-on-hover.svg");
  }

  .filter-input-checkbox:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-hover.svg");
    opacity: 0.3;
    pointer-events: none;
  }

  .filter-input-checkbox:disabled + label {
    color: var(--input-disabled);
  }

  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border: 4px solid var(--credentials-link-click);
    border-radius: 50%;
    box-sizing: border-box;
  }

  .filter-input-radio + label:hover::before {
    border: 4px solid var(--checkboxes-hover);
  }

  .filter-input-radio:disabled + label::before {
    border: 4px solid var(--checkboxes-disabled);
  }

  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background-color: var(--credentials-link-click);
    border-radius: 50%;
  }

  .filter-input-radio:checked + label:hover::after {
    background-color: var(--checkboxes-hover);
  }

  .filter-input-radio:checked:disabled + label::after {
    background-color: var(--checkboxes-disabled);
  }

  .filter-input-radio:disabled + label {
    color: var(--input-disabled);
  }

  .filter-button {
    padding: 10px 80px;
    text-transform: uppercase;
    border: 1px solid var(--borders);
    background-color: var(--basic-white);
  }

  .catalog {
    padding-bottom: 60px;
    font: 13px/18px var(--alternative-font);
    color: var(--basic-black);
  }

  .sort-wrapper {
    margin-bottom: 28px;
    padding: 10px 0 10px 20px;
    display: flex;
    font: 13px/18px var(--alternative-font);
    text-transform: uppercase;
    background-color: var(--filter-sort);
  }

  .sort-header {
    margin: 0;
    margin-right: 140px;
    padding: 0;
    font: 13px/18px var(--alternative-font);
    color: var(--basic-black);
  }

  .sort-type {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .sort-type li {
    margin-right: 65px;
  }

  .sort-type li:nth-child(3) {
    margin-right: 46px;
  }

  .sort-type li:nth-child(4) {
    margin-right: 21px;
  }

  .sort-type li:last-child {
    margin-right: 14px;
  }

  .sort-type a:not(.up, .down) {
    font: 13px/18px var(--alternative-font);
    color: var(--price-before);
    border-bottom: 1px dotted var(--special);
  }

  .sort-type a:hover:not(.up, .down) {
    color: var(--basic-black);
    border-bottom: 1px solid var(--special);
  }

  .sort-type a:active:not(.up, .down) {
    color: var(--special);
    border: none;
  }

  .up:hover path, .down:hover path {
    fill: var(--basic-black);
  }

  .up:active path, .down:active path {
    fill: var(--special);
  }

  .catalog-list {
    padding: 0;
    margin: 0;
    padding-bottom: 46px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .catalog-item {
    padding-bottom: 20px;
    background-color: var(--basic-white);
    border: 1px solid var(--border-items);
    position: relative;
  }

  /* это модалка ко хуверу */

  .catalog-detail {
    position: absolute;
    padding: 38px 42px 21px 42px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--basic-white);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s easy;
  }

  .catalog-detail button {
    position: relative;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font: 14px/18px var(--main-font);
    text-transform: uppercase;
    text-align: center;
  }

  .buy {
    padding: 11px 12px 6px 25px;
    color: var(--basic-white);
    background-color: var(--button-green);
    border: none;
    border-bottom: 3px solid var(--buy-button-hover-card);
  }

  .buy::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 15px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .buy:hover {
    background-color: var(--button-green-hover);
    outline: none;
  }

  .buy:active {
    background-color: var(--button-green-click);
    outline: none;
  }

  .to-bookmarks {
    padding: 6px 30px 9px 30px;
    color: var(--basic-dark);
    background-color: var(--basic-white);
    border: 3px solid var(--button-green);
    border-radius: 2px;
  }

  .to-bookmarks:hover {
    border: 3px solid var(--basic-dark);
    border-radius: 2px;
    outline: none;
  }

  .to-bookmarks:active {
    border: 3px solid var(--to-bookmarks-button-click);
    border-radius: 2px;
    outline: none;
  }

  .catalog-item:hover {
    box-shadow: 0px 4px 20px var(--box-shadow);
  }

  .catalog-item:hover .catalog-detail {
    opacity: 1;
    pointer-events: auto;
  }

  .catalog-item-image {
    margin: 0;
    padding: auto;
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .catalog-item h5 {
    padding: 0;
    padding-bottom: 7px;
    margin: 0;
    font: bold 18px/20px var(--alternative-font);
    color: var(--basic-black);
    text-align: center;
  }

  .price-before {
    padding: 0;
    padding-bottom: 14px;
    margin: 0;
    font: bold 17px/18px var(--alternative-font);
    color: var(--price-before);
    text-decoration-line: line-through;
    text-transform: uppercase;
    text-align: center;
  }

  .price-after {
    margin-left: 45px;
    padding: 10px 45px 10px 0;
    font: bold 17px/18px var(--alternative-font);
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    background-image: url(../img/price-after.svg);
    background-repeat: no-repeat;
  }

  .new-item::before {
    content: "";
    position: absolute;
    background-image: url(../img/catalogue_new.svg);
    width: 70px;
    height: 70px;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination-item {
    margin-right: 10px;
    box-sizing: border-box;
  }

  .pagination-item:last-child {
    margin-right: 0;
  }

  .pagination-item a {
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    font: 13px/18px var(--alternative-font);
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
    background: var(--basic-white);
    border-radius: 2px;
    border: 1px solid var(--borders);
    height: 38px;
  }

  .pagination-item-current a {
    color: var(--basic-white);
    background-color: var(--special);
    border: none;
  }

  .pagination-item-next a {
    padding: 10px 32px;
  }

  .pagination-item a:hover:not(.pagination-item-current a) {
    border: 1px solid var(--credentials-link-click);
  }

  .pagination-item a:active:not(.pagination-item-current a) {
    border: 1px solid var(--special);
  }


  /* modal */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    filter: drop-shadow(0px 4px 20px --modal-shadow);
  }

  .modal-show {
    display: block;
    animation: bounce 0.6s;
  }

  .modal-error {
    animation: shake 0.6s;
  }

  .modal-close {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .modal-close::before,
  .modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: var(--special);
  }

  .modal-close::before {
    transform: rotate(45deg);
  }

  .modal-close::after {
    transform: rotate(-45deg);
  }

  /* feedback */

  .modal-feedback {
    top: 120px;
    bottom: auto;
    width: 620px;
    background-color:var(--basic-white);
    border-top: 5px solid var(--special);
  }

  .modal-feedback-wrapper {
    width: 460px;
    padding: 46px 80px 37px 80px;
  }

  .text-field {
    padding: 0;
    margin: 0;
    border: 2px solid var(--credentials-link-click);
    border-radius: 2px;
  }

  .modal-feedback-wrapper input::placeholder {
    padding-left: 12px;
  }

  .name-email-wrapper {
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-user, .email-user {
    width: 220px;
    height: 38px;
  }

  .textbox-user {
    resize: none;
  }

  .textbox-user::placeholder {
    padding-top: 6px;
    padding-left: 12px;
  }

  .button-wrapper {
    padding: 37px 80px;
    background-color: var(--feedback-form-background);
  }

  .button-send {
    padding: 11px 199px 9px 199px;
    border: none;
  }

  /* map */
  .modal-map {
    height: 449px;
    width: 943px;
    border-top: 5px solid var(--special);
  }

  .modal-map iframe {
    border: none;
  }

  .modal-in-basket {
    top: 120px;
    bottom: auto;
    width: 620px;
    height: 282px;
    background-color:var(--basic-white);
    border-top: 5px solid var(--special);
  }

  .good-added {
    padding: 73px 100px 67px 166px;
    position: relative;
    font: bold 24px/30px var(--main-font);
  }

  .good-added::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .wrapper-bottom {
    padding: 37px 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--modal-in-basket-wrapper);
  }

  .to-order {
    margin-right: 10px;
    padding: 11px 46px 9px 46px;
  }

  .shopping-continue {
    padding: 11px 31px 9px 31px;
    font: 14px/18px var(--main-font);
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  /* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


